body{
    margin:0;
    font-family:Circular, spotify-circular, Helvetica, Arial, sans-serif;
    background-color:black;
    font-weight:400;
}

a:hover {
  color:#1ed760;
}

.sign-login:hover{
    color:#1ed760;
}

.bottom-links-list a:hover{
    color:#1ed760;
}

a{
  text-decoration:none;
  color:white;
}

nav{
    background-color:black;
    width:100%;
    color:white;
    display: flex;
    position:fixed;
    opacity: 0.8;
}

.nav-container{
    margin-left:10%;
    margin-right:10%;
    display:flex;
    justify-content: space-between;
    width:100%;
}

nav ul{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav ul li{
    margin-left:20px;
}

.sign-login{
    color:#d9dadc;
}

section{
        height: 800px;
        background-color: #f037a5;
        background: linear-gradient(#f037a5 -60%, #fae62d 140%);
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(-60%, #f037a5),
          color-stop(140%, #fae62d)
        );
}

.hero-img{
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("https://www.scdn.co/i/home/hero-burst.svg");
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
}

.title{
    color: white;
    font-size: 80px;
    font-weight: 900;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: -0.04em;
}

.title2{
    color: white;
    font-size: 18px;
}

button{
    color: #FFF;
    background-color: #1DB954;
    margin-top: 16px;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

footer .container{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-left:10%;
    margin-right:10%;
    width:100%;
}

footer .top-links{
    display:flex;
    justify-content: space-evenly;
}

footer .top-links ul{
  list-style-type: none;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: .08em;
  margin-top:10px;
  margin-bottom:10px;
  font-weight:400;
  left:0;
}

.header{
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: .08em;
  text-transform: uppercase;
  margin-top:10px;
  margin-bottom:10px;
}

.social-icons{
  display:flex;
  position: relative;
  right:0;
  justify-content: flex-end;
}

i{
    width: 24px;
    height: 24px;
    font-size: 25px;
    background-color: #222326;
    border-radius: 50%;
    padding: 10px;
}


.country{
  width:100%;
  display:flex;
  justify-content:flex-end;
}

.country a{
  text-decoration:none;
  color:white;
  font-size:12px;
}

.bottom-links{
  display:flex;
  justify-content:space-between;
  width:100%;
  color: #919496;
  font-size:12px;

}

.bottom-links-list{
  list-style:none;
  display:flex;
  padding:0%;
}

.bottom-links-list a{
    color: #919496;
  }

.bottom-links-list li{
  margin-right:10px;
}